h1 {
    text-align: center;
    font-family: "Noto Serif";
    font-size: 2rem;
    margin: 1%;
    background: linear-gradient(to right, #eec440, #fffa8a, #ddac17, #ffff95);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    margin: 2% auto 5% auto;
    width: 55%;
    position: relative;
  }
  
  #flex-container {
    display: flex;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .mySlides img {
    height: 55vh;
    object-fit: cover;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 29.6%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: #f2f2f2; */
    color: white;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    font-family: "Noto Serif";
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    align-content: flex-end;
    text-align: left;
    /* background-color: rgba(34, 34, 34, 0.71); */
    padding: 2px 13px;
    /* color: gold; */
    background: linear-gradient(to right, #eec440, #fffa8a, #ddac17, #ffff95);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Urbanist", serif;
    font-weight: 600;
    font-size: 13px;
    width: 35%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  .column img{
    height: 60%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  